@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* UTILITES */

* {
  font-family: 'Rubik', sans-serif;
}

a {
  font-size: 16px;
  text-decoration: none !important;
}

.details {
  margin: 0;
  font-size: 16px;
  color: #4F5665;
  line-height: 30px;
}

.cta-btn {
  display: inline-block;
  color: white;
  background-color: #F53855;
  padding: 18px 50px;
  border-radius: 10px;
  box-shadow: 0 5px 10px lightgray;
}

.cta-btn:hover {
  color: white;
}

/* NAVBAR */

.nav-link {
  color: #4F5665;
  margin-right: 30px;
}

.login {
  font-weight: 500;
  color: #0B132A;
  margin-right: 30px;
}

.login:hover {
  color: #0B132A;
}

.signup {
  font-weight: 500;
  color: #F53855;
  padding: 15px 40px;
  border: 1px solid #F53855;
  border-radius: 50px;
}

.signup:hover {
  color: #F53855;
}



/* HERO SECTION */

.hero {
  margin-top: 100px;
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 20px;
}


/* BANNER SECTION */

.banner {
  margin: 100px;
  padding: 30px;
}


.number {
  font-weight: 700;
  font-size: 25px;
  color: #0B132A;
  margin: 0;
}



/* MEDIA QUERIES */

@media only screen and (max-width:576px) and (max-width:768px) {
  .login {
    display: block;
    /* padding-bottom: 20px; */
  }

  .signup {
    display: block;
    padding: 0;
    margin-top: 15px;
    border: 0;
  }

  .hero-title {
    font-size: 25px;
    line-height: normal;
  }
}

@media only screen and (max-width:576px) {
  .hero {
    margin-top: 50px;
    text-align: center;
  }

  
}