@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* ! UTILITES */

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  text-decoration: none !important;
}

.details {
  margin: 0;
  font-size: 16px;
  color: #4F5665;
  line-height: 30px;
}

.cta-btn {
  display: inline-block;
  color: white;
  background-color: #F53855;
  padding: 18px 50px;
  border-radius: 10px;
  box-shadow: 0 5px 10px lightgray;
}

.cta-btn:hover {
  color: white;
}

.title {
  font-size: 35px;
  color: #0B132A;
}

/* ! NAVBAR */

.nav-link {
  color: #4F5665;
  margin-right: 30px;
}

.login {
  font-weight: 500;
  color: #0B132A;
  margin-right: 30px;
}

.login:hover {
  color: #0B132A;
}

.signup {
  font-weight: 500;
  color: #F53855;
  padding: 15px 40px;
  border: 1px solid #F53855;
  border-radius: 50px;
}

.signup:hover {
  color: #F53855;
}



/* ! HERO SECTION */

.hero {
  margin-top: 100px;
  margin-bottom: 200px;
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 20px;
}


/* ! BANNER SECTION */

.banner {
  margin-bottom: 170px;
  padding: 30px;
  box-shadow: 10px 10px 10px lightgray;
}


.number {
  font-weight: 700;
  font-size: 25px;
  color: #0B132A;
  margin: 0;
}

/* ! FEATURE SECTION */

.feature {
  margin-bottom: 200px;
}

.point::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 500;
  color: green;
  margin-right: 10px;
}

/* ! PLANS SECTION */

.plans {
  margin: 100px;
}

.plan {
  border: 2px solid #DDDDDD;
  padding: 100px 50px;
}
.plan:hover {
  border: 2px solid #F53855;
}

.available::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 500;
  color: green;
  margin-right: 10px;
}
.not-available::before {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 500;
  color: red;
  margin-right: 10px;
}

.price {
  font-size: 25px;
}

.buy {
  color: #F53838;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 50px;
  border: 2px solid #F53838;
  border-radius: 50px;
}
.buy:hover {
  color: white;
  background-color: #F53838;
}

/* ! NETWORK SECTION */

.sponsors-header {
  margin-top: 100px;
  margin-bottom: 50px;
}

.sponsor {
  margin: 100px 0;
}

/* ! REVIEW SECTION */

.testimonial{
  background: #fff;
  text-align: center;
  margin: 0 20px;
}
.testimonial .description{
  padding: 40px 30px;
  margin-bottom: 50px;
  border-top: 1px solid #2660a4;
  border-left: 1px solid #2660a4;
  font-size: 15px;
  color: #887e7f;
  line-height: 30px;
  text-align: left;
  position: relative;
}
.testimonial .description:before{
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  /* float: left; */
  padding: 0 15px 5px 0;
  font-size: 30px;
  color: #ff5a5f;
  text-align: center;
  position: relative;
  top: 8px;
  left: 0;
}
.testimonial .description:after{
  content: "";
  width: 50%;
  height: 1px;
  background: #2660a4;
  position: absolute;
  bottom: 0;
  left: 0;
}
.testimonial .testimonial-content{ position: relative; }
.testimonial .testimonial-content:before{
  content: "";
  width: 1px;
  height: 20px;
  background: #2660a4;
  position: absolute;
  top: -50px;
  left: 50%;
}
.testimonial .testimonial-content:after{
  content: "";
  width: 2px;
  height: 40px;
  background: #2660a4;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: skewX(-45deg);
  transform-origin: 100% 100% 0;
}
.testimonial .pic{
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 7px;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.testimonial .title{
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: #2660a4;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.owl-theme .owl-controls{
  margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
  width: 15px;
  height: 10px;
  border-radius: 0;
  background: #ff5a5f;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
  width: 35px;
  background: #2660a4;
}

/* * FOOTER SECTION */

footer {
  margin-top: 150px;
  padding: 100px 0;
}

footer a {
  text-decoration: none;
  color: #0B132A;
  line-height: 40px;
}




/* ! MEDIA QUERIES */

@media only screen and (max-width:576px) and (max-width:768px) {
  .login {
    display: block;
    /* padding-bottom: 20px; */
  }

  .signup {
    display: block;
    padding: 0;
    margin-top: 15px;
    border: 0;
  }

  .hero-title {
    font-size: 35px;
    line-height: normal;
  }
}

@media only screen and (max-width:576px) {
  .hero {
    margin-top: 50px;
    text-align: center;
  }

  .title {
    text-align: center;
    font-size: 30px;
  }

  .reverse {
    flex-direction: column-reverse;
  }
}